.main-content__group
  .main-content__group__left
    %h2
      = @group.name
    %p
      Members:
      - @group.group_users.each do |group_user|
        = group_user.user.name
  .main-content__group__right
    = link_to edit_group_path(@group) do
      %input{type: "button", value: "Edit"}

.main-content__chat
  %ul.main-content__chat__messages
    - @group.messages.each do |message|
      %li.main-content__chat__messages__message
        .main-content__chat__messages__message__message-hedder
          %p.main-content__chat__messages__message__message-hedder__name
            = message.user.name
          %p.main-content__chat__messages__message__message-hedder__time
            = message.created_at
        %p.main-content__chat__messages__message__message-body
          = message.body

