.chat-group-form
  %h1 新規チャットグループ
  = form_for @group, html: { id: 'new_chat_group', class: 'new_chat_group' } do |f|
    .chat-group-form__field
      .chat-group-form__field--left
        = f.label :name, "グループ名", class: "chat-group-form__field__label"
      .chat-group-form__field--right
        = f.text_field :name, class: "chat-group-form__field__input", placeholder: "グループ名を入力してください"

    .chat-group-form__field
      .chat-group-form__field--left
        = f.label :name, "チャットメンバーを追加", class: "chat-group-form__field__label"
      .chat-group-form__field--right
        .chat-group-form__search
          = f.text_field :user_ids, id: "user-search-field", class: "chat-group-form__field__input", type: "text", placeholder: "追加したいユーザー名を入力してください"
        #user-search-result

    .chat-group-form__field
      .chat-group-form__field--left
        = f.label :name, "チャットメンバー", class: "chat-group-form__field__label"
      .chat-group-form__field--right
        .chat-group-form__chat-group-user
          = f.hidden_field :user_ids, value: "#{current_user.id}"
          %p.chat-group-user__name
            = current_user.name

    .chat-group-form__field
      .chat-group-form__field--left
      .chat-group-form__field--right
        = f.submit "Save", "data-disable-with": "Save", class: "chat-group-form__field__action-btn"
